@import url('https://fonts.googleapis.com/css?family=Poiret+One');

$headerColor: #FFFAFF;
$whiteFont: #FFFFFF;
//$headerFontColor: #9d9494;
$headerFontColor: #000000;
$sidebarFontSize: 36px;

body {
  background: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

body, p, ul, ol, li, span {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
}

button:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

header {
  background: $headerColor;
  height: 80px;
  width: 100%;
  color: $headerFontColor;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "portal-name admin-panel-text";
  align-items: center;
  box-shadow: 1px 1px 5px #2a2a2a;
  position: absolute;

}

.portal-name {
  grid-area: portal-name;
  img {
    width: 240px;
    height: auto;
  }
}

.admin-panel-text {
  font-weight: bolder;
  font-size: 120%;
}

.content-container {
  padding-top: 100px;
}

.sidebar-icon-min {
  top: 100px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  width: 50px;
  height: 50px;
  background: $headerColor;
  border: none;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.sidebar {
  height: 100vh;
  position: absolute;
}

.sidebar-full {
  width: 300px;
  //height: 380px;
  top: 90px;
  margin-top: 82px;
  font-size: $sidebarFontSize;
  //background-image: url("../img/background.png");
  //border-bottom-right-radius: 50%;
  //border-top-right-radius: 50%;
  background: $headerColor;
  grid-area: sidebar;
  position: sticky;
  z-index: 200;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  ul {
    display: flex;
    flex-direction: column;
  }
  ul li {
    align-self: center;
    height: 55px;
    width: 265px;
    padding-left: 35px;
    line-height: 55px;
  }
  ul li:hover {
    background-color: #2a2a2a;
    color: #fcf8e3;
  }
}

.small-icon {
  font-size: 0.6em;
}

.slide-right-enter-active {
  transition: all .5s ease;
}

.slide-right-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-right-enter, .slide-right-leave-to {
  transform: translateX(-100px);
  opacity: 0;
}

.slide-left-enter-active {
  transition: all .5s ease;
}

.slide-left-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-left-enter, .slide-left-leave-to {
  transform: translateX(150px);
  opacity: 0;
}

.icon-button {
  margin: 0 0 0 250px;
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #959ea5;
}

.active-link {
  background-color: #DDDDEF;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 12fr 1fr;
  grid-template-areas: ". view-container .";

}

.view-container {
  grid-area: view-container;
}

.short-info-row {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 120px 1fr 120px 1fr 120px 1fr;
  grid-template-areas: "col1 . col2 . col3 . col4";
  grid-area: short-info-row;

  .col-1, .col-2, .col-3, .col-4 {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    color: #e7e7e7;
    box-shadow: 8px 8px 5px #d5d5d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span:nth-child(2) {
      font-size: 65pt;
    }
    span:nth-child(3) {
      font-size: 18pt;
    }
  }

  .col-1 {
    background-color: #FF4A43;
    grid-area: col1;
  }
  .col-2 {
    grid-area: col2;
    background-color: #A2D200;

  }
  .col-3 {
    grid-area: col3;
    background-color: #23BEEE;
  }
  .col-4 {
    grid-area: col4;
    background-color: #ee73a6;
  }

}

.fade-enter-active, .fade-leave-active {
  transition: opacity 4s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.component-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 50px 1fr 2fr;
  grid-template-areas: "component-header" "short-info-row" " . ";

  h2 {
    grid-area: component-header;
  }

  table {
    width: 80vw;
    font-size: 18pt;
    border-collapse: collapse;
  }

  tr, th {
    height: 70px;
    border-bottom: 1px solid #8f8f8f;
    text-align: left;

  }

  tr:nth-child(2n) {
    background-color: #eaedee;
  }

  //tbody tr:hover{
  //  background-color: #B8B500;
  //  color: #fcf8e3;
  //}
}

.offer-icon, .users-icon, .juniors-icon, .technologies-icon {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
}

.offer-icon {
  background-image: url("../img/icons/resume-and-cv.png");
}

.users-icon {
  background-image: url("../img/icons/users.png");
}

.juniors-icon {
  background-image: url("../img/icons/softtware-engineer.png");
}

.technologies-icon {
  background-image: url("../img/icons/css-3.png");
}

.custom-button {
  width: 90px;
  height: 90px;
  background-color: inherit;
  color: gray();
  border: none;
  cursor: pointer;
  box-shadow: 1px 5px 5px #dddddd;
  border-radius: 50%;
  font-size: 110%;
  justify-self: start;
  margin-left: 50px;
}

.custom-button:hover {
  color: yellowgreen;
}

.status-badge {
  width: 65px;
  height: 30px;
  border-radius: 15px;
  background-color: orangered;
  padding: 5px 10px 5px 10px;
  line-height: 25px;
}

.status-new {
  background-color: #BCD42A;
}

.status-added {
  background-color: #4bb1b1;
  color: #ffffff;
}

.primary-button {
  background-color: transparent;
  font-size: 18px;
  border: none;
  width: 80px;
  height: 80px;
  box-shadow: 0 5px 10px #DFDFDF;
  border-radius: 50%;
}

.action-button {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  border: none;
  background: transparent;
}

.edit {
  color: #58A4B0;
}

.delete {
  color: orangered;
}

.validation-info {
  color: orangered;
}

.not-valid {
  border-bottom: 1px solid orangered !important;
  margin-bottom: 8px;

}

